body {
    background: #e8e8e8;
}

.login > div {
    text-align: center;
}

.login > h1 {
    font-size: x-large;
    font-weight: bold;
}

textarea {
    resize: none !important;
}

.row.note {
    margin-top: 20px;
}

header {
    background: #4FC3F7;
    height: 50px !important;
}

header span {
    line-height: 50px;
}

header button {
    margin-top: 7.5px;
}

header .user {
    float: right;
    padding-right: 20px;
}

header .user span{
    margin-right: 5px;
}


header .title {
    margin-left: 20px;
    font-size: 20px;
}

.note, .note input, .note textarea, .note button, .note .input-group-addon,
.note tags-input div, .note select {
    color: black;
    border: 0;
}

.redNote, .redNote input, .redNote textarea, .redNote .input-group-btn button,.redNote .input-group-addon,
.redNote tags-input div, .redNote select {
    background: lightcoral;
}

.greenNote, .greenNote input, .greenNote textarea, .greenNote .input-group-btn button,
.greenNote .input-group-addon, .greenNote tags-input div, .greenNote select {
    background: green;
}

.blueNote, .blueNote input, .blueNote textarea, .blueNote .input-group-btn button,
.blueNote .input-group-addon, .blueNote tags-input div, .blueNote select {
    background: #286090;
}

.input-group{
    border-top: 1px solid black !important;
}

.newListElement {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.noteTitle {
    font-weight: bold !important;
}

.note .input-group *, .note input, .note tags-input *,
.note select, .note .btn-group *, .note textarea{
    border-radius: 0;
}

.tags {
    box-shadow: none !important;
}

.listElement .form-control{
    width: 96.5%;
}

tags-input {
    border-bottom: 1px solid black !important;
}

tags-input .host {
    margin: 0 !important;
}

.noneOpt {
    background: white;
}

.redOpt {
    background: lightcoral;
}

.greenOpt {
    background: green;
}

.blueOpt {
    background: #286090;
}

.noteDescription {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;

}

.tag-list * {
    background: none !important;
    border: none !important;
    color: black;
}

.note select {
    border-bottom: 1px solid black !important;
}

select::selection {
    background: none;
}

.note input::placeholder {
    color: white;
}