<header>
    <span class="title">NoteAPP</span>
</header>
<div class="row login">
    <h1 class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">Inicia sesión en NoteAPP</h1>
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
        <form ng-submit="lc.login()" method="post" role="form">
            <div class="form-group">
                <label>Email</label>
                <input type="text" ng-model="lc.email" class="form-control" placeholder="Introduce tu dirección de correo electrónico">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" ng-model="lc.password" class="form-control" placeholder="Introduce tu contraseña">
            </div>
            <span class="formError" ng-if="lc.errors.login">{{lc.errors.login}}<br><br></span>
            <button type="submit" class="btn btn-primary">Conectarse</button>
        </form>
        <p>¿No tienes cuenta? <a href="#!/signup">Registrate</a></p>
    </div>
</div>